<p style="color: green"><%= notice %></p>

<h1>Friend List</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this Friend", friend %>
    </p>
  <% end %>
</div>

<%= link_to "Add A Friend", new_friend_path %>
